/**************************************************************************************************
 *      EMBEDDED FONTS
 **************************************************************************************************/
.font { }

//https://www.google.com/fonts#UsePlace:use/Collection:Source+Sans+Pro
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic,700italic,700);

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/sassy-maps/sass/_sassy-maps.scss";
@import "bower_components/compass-breakpoint/stylesheets/_breakpoint.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

/**************************************************************************************************
 *      SASS VARIABLES, MIXINS & MEDIA QUERIES
 **************************************************************************************************/

.variables { }

$c-white: #fff;
$c-blue: #16469d;
$c-blue2: #003669;
$c-blue3: #00529f;
$c-blue4: #214083;
$c-red: #d71920;
$c-red2: #930006;
$c-gray-dark: #333;
$c-gray1: #ededed;
$c-gray2: #f4f4f4;
$c-gray3: #ebebeb;
$c-gray4: #666;
$c-gray5: #606060;
$c-gray6: #f9f9f9;
$c-gray7: #f6f7f9;
$c-border: #404040;
$c-footer: #464650;
$f-base: 14px;
$font-family: 'Lato', sans-serif;
$font-second: 'Gentium Basic', serif;

//grid

$mxw768: max-width 767px;
$mxw992: max-width 991px;

/*===============================================
		MIXINS
 ===============================================*/
.mixin { }

/* box shadow */
@mixin box-shadow($top, $left, $blur, $color, $inset: false, $important: false) {
    @if $inset {
        @if $important {
            -webkit-box-shadow: inset $top $left $blur $color !important;
            -moz-box-shadow: inset $top $left $blur $color !important;
            box-shadow: inset $top $left $blur $color !important;
        } @else {
            -webkit-box-shadow: inset $top $left $blur $color;
            -moz-box-shadow: inset $top $left $blur $color;
            box-shadow: inset $top $left $blur $color;
        }

    } @else {
        @if $important {
            -webkit-box-shadow: $top $left $blur $color !important;
            -moz-box-shadow: $top $left $blur $color !important;
            box-shadow: $top $left $blur $color !important;
        } @else {
            -webkit-box-shadow: $top $left $blur $color;
            -moz-box-shadow: $top $left $blur $color;
            box-shadow: $top $left $blur $color;
        }
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

/**************************************************************************************************
 *      Typer
 **************************************************************************************************/

a { color: $c-blue;
    &:hover { color: $c-blue4; text-decoration: none; }
}

h1, h2, h3 { color: $c-blue; font-weight: 300; }

h1 {
    font-size: 60px;
    @include breakpoint($mxw992) { font-size: 46px; }
}

h2 {
    font-size: 54px;
    @include breakpoint($mxw992) { font-size: 36px; margin-top: 15px; line-height: 36px; }
    @include breakpoint($mxw768) { font-size: 25px; margin-top: 15px; line-height: 100%; }
}

h3 {
    font-size: 48px;
    @include breakpoint($mxw992) { font-size: 32px; margin-top: 15px; line-height: 32px; }
}

h4 {
    font-size: 32px;
    @include breakpoint($mxw992) { font-size: 20px; }
}

h5 {
    font-size: 22px;
    @include breakpoint($mxw992) { font-size: $f-base + 2; }
}

/**************************************************************************************************
 *      Button
 **************************************************************************************************/

.btn-blue { font-weight: 700; font-size: 15px; background: $c-blue4; padding: 20px 25px; display: inline-block; color: $c-white; @include border-radius(3px); border: solid 1px transparent; @include transition(all, 0.3s, ease);
    @include breakpoint($mxw992) { padding: 10px 15px; font-size: $f-base - 2;
        &.button--shikoba .button__icon { top: 36%; right: 9px; }
    }
    &:hover { background: $c-white; border: solid 1px $c-blue; color: $c-blue4; padding-right: 35px; @include transition(all, 0.3s, ease);
        @include breakpoint($mxw992) { padding-right: 25px; }
    }
}

.btn-small { background: $c-blue2; padding: 10px 25px; color: $c-white; text-decoration: none;
    @include breakpoint($mxw992) { padding: 5px 10px; }

    &.button--shikoba {
        .button__icon { top: 30%; }
    }
}

.btn-white { background: $c-white; font-weight: 700; padding: 20px 25px; display: inline-block; @include border-radius(3px); color: $c-blue; text-decoration: none; border: none; @include transition(all, 0.3s, ease);
    @include breakpoint($mxw992) { font-size: $f-base + 2; padding: 10px 15px;
        &.button--shikoba .button__icon { top: 36%; right: 9px; }
    }
    @include breakpoint($mxw768) { font-size: $f-base - 2; padding: 13px 17px; font-weight: 700; }
    &:hover { background: $c-blue; color: #fff; position: relative; border: none; padding-right: 35px; @include transition(all, 0.3s, ease);
        @include breakpoint($mxw992) { padding-right: 25px; }
    }
}

//effect button

/* Shikoba */
.button {
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.button:focus {
    outline: none;
}

.button > span {
    vertical-align: middle;
}

.button.button--shikoba {
    overflow: hidden;
    -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.button--shikoba > span {
    display: inline-block;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--shikoba .button__icon {
    position: absolute;
    right: 12px;
    top: 40%;
    font-size: $f-base;
    -webkit-transform: translate3d(-500px, 0, 0);
    transform: translate3d(-500px, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--shikoba:hover .button__icon,
.button--shikoba:hover > span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/**************************************************************************************************
 *      MAIN STRUCTURE
 **************************************************************************************************/
html,
body { display: block; height: 100%; }

* {
    &:before,
    &:after { @include transition(all, 0.5s, ease); }
}

body { font: 400 15px/1.4 $font-family; overflow-x: hidden;
    &.iframe { background: transparent; color: #fff; overflow: hidden;
        @include breakpoint($mxw992) { font-size: 12px; }
    }

    /*===============================================
            ANCHOR/BUTTON
     ===============================================*/
    a { outline: none !important; }
    .wrapper-general { width: auto; margin-left: 15px; margin-right: 15px; top: 0; left: 0; position: absolute; z-index: 10; }

    //navigation

    nav { position: relative;
        .menu-left { width: percentage(700/1140); float: left;
            .branding { background: url("../images/logo.png") no-repeat; width: 94px; height: 45px; margin: 10px 0 0 30px; display: inline-block; }
            .main-menu-left { margin: 0 30px 0 0; padding: 0; list-style: none; display: inline-block; float: right;
                > li { font-weight: 700; border: none; padding: 0; float: left;
                    a.title-link { color: $c-blue; text-decoration: none; float: left; position: relative; padding: 27px 11px 24px; @include transition(all, 0.5s, ease);}
                    &:hover {
                        .sub-menu { display: block; @include transition(all, 0.5s, ease); opacity: 1; top: 100%; }
                        a.title-link { z-index: 3; background: #fff; @include transition(all, 0.5s, ease);
                            &:before { content: ' '; z-index: 2; float: left; border-top: solid 4px $c-red; position: absolute; left: 0; top: 0; width: 100%; height: 100%; @include transition(all, 0.5s, ease); }
                            &:after { content: ' '; z-index: 1; float: left; border-left: solid 0px $c-gray1; border-right: solid 0px $c-gray1; position: absolute; left: 0; top: 0; width: 100%; height: 100%; @include transition(all, 0.5s, ease); }
                        }
                        &.has-submenu {
                            a.title-link { z-index: 3; background: #fff; @include transition(all, 0.5s, ease);
                                &:before { content: ' '; z-index: 2;border-top: solid 4px $c-red; @include transition(all, 0.5s, ease); }
                                &:after { content: ' '; z-index: 1; border-left: solid 1px $c-gray1; border-right: solid 1px $c-gray1;@include transition(all, 0.5s, ease); }
                            }
                        }
                    }

                    &.has-submenu:hover a { padding-bottom: 25px; margin-bottom: -1px; }

                    .sub-menu { background: $c-white; font-weight: 400; font-size: $f-base; width: 100%; margin: 0; padding: 45px 0 0 0; border-left: solid 1px $c-gray1; border-top: solid 1px $c-gray1; position: absolute; left: 0; top: 100%; list-style: none; z-index: 2;
                        line-height: 20px; @include box-shadow(0px, 1px, 1px, rgba(0, 0, 0, 0.25));
                        -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
                        -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
                        -o-transition: visibility 0.2s linear, opacity 0.2s linear;
                        @include transition(all, 0.5s, ease); opacity: 0; top: -500%;

                        ul { margin: 0; padding: 0; list-style: none; display: inline-block; vertical-align: top; }

                        .block-menu { width: 100%; text-align: center;
                            > li { margin: 0 16px; display: inline-block;
                                a { text-decoration: none; display: inline-block; padding-bottom: 0px;
                                    border-bottom: solid 10px transparent;
                                    > img { margin-bottom: 5px; }
                                    &:hover { border-bottom: solid 10px $c-blue; }
                                }
                            }
                            .title { font-size: 24px; font-weight: 300; text-transform: capitalize; margin-bottom: 15px; color: $c-blue; text-align: left; }
                        }
                    }
                }
            }
        }
        .menu-right { font-weight: 700; background: $c-blue; width: percentage(440/1140); float: right;
            .main-menu-right { float: left; margin-bottom: 0; list-style: none;
                > li { float: left; padding: 0; border: none;
                    a.title-link { color: $c-white; text-decoration: none; float: left; position: relative; padding: 27px 11px 24px; @include transition(all, 0.5s, ease);}
                    &:hover {
                        .sub-menu { display: block; @include transition(all, 0.5s, ease); opacity: 1; top: 100%; }
                        a.title-link { z-index: 3; @include transition(all, 0.5s, ease);
                            &:before { content: ' '; z-index: 2; float: left; border-top: solid 4px $c-red; position: absolute; left: 0; top: 0; width: 100%; height: 100%; @include transition(all, 0.5s, ease); }
                            &:after { content: ' '; z-index: 1; float: left; border-left: solid 0px $c-gray1; border-right: solid 0px $c-gray1; position: absolute; left: 0; top: 0; width: 100%; height: 100%; @include transition(all, 0.5s, ease); }
                        }
                        &.has-submenu {
                            a.title-link { z-index: 3; @include transition(all, 0.5s, ease);
                                &:before { content: ' '; z-index: 2;border-top: solid 4px $c-red; @include transition(all, 0.5s, ease); }
                                &:after { content: ' '; z-index: 1; border-left: solid 1px rgba(255, 255, 255, 0.1); border-right: solid 1px rgba(255, 255, 255, 0.1);@include transition(all, 0.5s, ease); }
                            }
                        }
                    }

                    &.has-submenu:hover a { padding-bottom: 25px; margin-bottom: -1px; }

                    .sub-menu { background: $c-blue; font-weight: 400; font-size: $f-base; width: 100%; margin: 0; padding: 0; border-top: solid 1px rgba(255, 255, 255, 0.1); position: absolute; left: 0; top: 100%; list-style: none; z-index: 2;
                        line-height: 20px; @include box-shadow(0px, 1px, 1px, rgba(0, 0, 0, 0.25));
                        -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
                        -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
                        -o-transition: visibility 0.2s linear, opacity 0.2s linear;
                        position: absolute; opacity: 0; top: -500%;
                        @include transition(all, 0.5s, ease);

                        ul { margin: 0; padding: 0; list-style: none; display: inline-block; vertical-align: top; }

                        .left-block { width: percentage(765/1140); float: left; padding-top: 40px; padding-right: 32px;
                            .block-menu { width: auto; text-align: center; float: right;
                                > li { margin: 0 16px; display: inline-block;
                                    a { text-decoration: none; display: inline-block;
                                        border-bottom: solid 10px transparent; padding-bottom: 0px;
                                        > img { margin-bottom: 15px; }
                                        &:hover { border-bottom: solid 10px $c-white; }
                                    }
                                }
                                .title { font-size: 24px; font-weight: 300; text-transform: capitalize; margin-bottom: 15px; color: $c-white; text-align: left; }
                            }
                        }

                        .right-block { width: percentage(375/1140); float: left;
                            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#154193+0,17469e+23,17469e+100 */
                            background: #154193; /* Old browsers */
                            background: -moz-linear-gradient(left, #154193 0%, #17469e 23%, #17469e 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(left, #154193 0%, #17469e 23%, #17469e 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to right, #154193 0%, #17469e 23%, #17469e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#154193', endColorstr='#17469e', GradientType=1); /* IE6-9 */

                            .link-right { padding-left: 40px; padding-top: 73px;
                                li { line-height: 35px;
                                    a { font-size: 22px; font-weight: 300; padding-bottom: 0; padding-right: 30px; overflow: hidden; text-decoration: none; color: $c-white; display: inline-block; position: relative;
                                        &:hover {
                                            .button__icon { color: $c-red; }
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }
            .btn-search { font-size: $f-base + 4; margin: 23px 35px 0 0; float: right; color: $c-white; position: relative; z-index: 1;
                a { color: $c-white; }
            }
            &:after { content: ""; background: $c-blue; width: 100000px; height: 72px; position: absolute; }
        }
    }

    //end navigation

    // Hero slide
    .hero-banner,
    .sliderBanner { position: relative;
        .items { position: relative;
            .hero-slider,
            .slider-banner { position: absolute; left: 0; top: 0; width: 100%; color: $c-white;
                .txt-title {
                    font-size: 36px; margin-top: 90px;
                    @include breakpoint($mxw992) { font-size: 36px; }
                    @include breakpoint($mxw768) { margin-top: 25px; font-size: $f-base + 2; }
                }
                .txt-west {
                    font-size: 62px; font-weight: 700; text-transform: uppercase; line-height: 100%;
                    @include breakpoint($mxw768) { font-size: 30px; }
                }
                .txt-plans {
                    font-size: 18px; font-weight: 400; margin-bottom: 30px;
                    @include breakpoint($mxw768) { font-size: 13px; margin-bottom: 15px; margin-top: 30px; }
                }

            }
        }

        .navi-dots { position: absolute; width: 100%; top: 60%; z-index: 3;
            @include breakpoint($mxw768) { top: 78%; }
            .dots-container {
                .owl-dot { width: 12px; height: 12px; @include border-top-radius(100%); @include border-bottom-radius(100%); border: solid 1px $c-white; display: inline-block; margin-right: 10px; cursor: pointer;
                    &.active { background: $c-white; }
                }
            }
        }
        .btn-scroll-down { position: absolute; width: 100%; bottom: 10%; z-index: 3;
            @include breakpoint($mxw768) { bottom: 4%; }
            .btn-down { font-size: $f-base + 4; background: $c-red; width: 54px; padding: 10px 0; color: $c-white; text-align: center; cursor: pointer; display: block; @include border-radius(2px);
                @include breakpoint($mxw768) { font-size: $f-base; width: 36px; height: 36px; }
                &:hover { background: $c-red2; @include transition(all, 0.3s, ease); }
            }
        }
    }

    .btn-scroll-up {
        .btn-top { font-size: $f-base + 4; background: $c-red; width: 54px; padding: 10px 0; color: $c-white; text-align: center; cursor: pointer; display: block; @include border-radius(2px); float: right;
            @include breakpoint($mxw992) { width: 40px; height: 40px; }
            &:hover { background: $c-red2; @include transition(all, 0.3s, ease); }
        }
    }

    //    block content

    .container-block { background: $c-gray2; padding-bottom: 40px;
        @include breakpoint($mxw992) { padding-top: 30px; }
        @include breakpoint($mxw768) { padding-top: 15px; padding-bottom: 15px; }
        h1 { color: $c-blue; }
        .txt-block { font-style: $f-base + 1; margin: 20px 0; color: $c-gray4;
            @include breakpoint($mxw992) { font-size: $f-base - 2; margin: 15px 0; }
        }
    }
    .block-content1 { padding: 70px 0 40px 0;
        @include breakpoint($mxw992) { padding-bottom: 15px; padding-top: 15px }
        @include breakpoint($mxw768) { padding-top: 0; padding-bottom: 20px; }
        .left-block { margin-left: 60px;
            @include breakpoint($mxw992) { margin-left: 30px;
                h2 { margin-top: 10px; }
            }
            @include breakpoint($mxw768) { margin-left: 0; }
        }
        .btn-share { margin-top: 25px;
            @include breakpoint($mxw992) { margin-top: 10px; }
            @include breakpoint($mxw768) { margin-top: 0; }
        }
        .img-block { float: right;
            @include breakpoint($mxw992) { float: none; }
        }
    }
    .block-content2 { background: $c-white; padding: 20px; border: solid 1px $c-gray3;
        @include breakpoint($mxw992) { padding: 10px; }
        @include breakpoint($mxw768) { padding: 10px; margin: 0 -10px 15px; }
        .btn-share { margin-top: 40px;
            @include breakpoint($mxw992) { margin-top: 20px }
            @include breakpoint($mxw768) { margin-top: 0 }
        }
    }
    .img-block { position: relative;
        .block-empty1 { content: ''; width: 0; height: 0; position: absolute; left: 0; top: 50%; border-top: 50px solid transparent; border-left: 50px solid $c-gray2; border-bottom: 50px solid transparent; @include translate(0, -50%);
            @include breakpoint($mxw992) { border-top-width: 30px; border-left-width: 20px; border-bottom-width: 30px; }
            @include breakpoint($mxw768) { @include transform(rotate(90deg)); top: -10px; left: 30px; border-top-width: 20px; border-left-width: 20px; border-bottom-width: 20px; }
        }
        .block-empty2 { content: ''; width: 0; height: 0; position: absolute; right: 0; top: 50%; border-top: 50px solid transparent; border-right: 50px solid $c-white; border-bottom: 50px solid transparent; @include translate(0, -50%);
            @include breakpoint($mxw992) { border-top-width: 30px; border-right-width: 20px; border-bottom-width: 30px; }
            @include breakpoint($mxw768) { @include transform(rotate(-90deg)); top: -10px; left: 30px; border-top-width: 20px; border-right-width: 20px; border-bottom-width: 20px; }
        }
    }
    .video-btn { font-size: 42px; color: $c-white; position: absolute; bottom: 2%; right: 2%;
        @include breakpoint($mxw992) { font-size: 28px; right: 3%; }
    }

    .btn-share { padding: 6px 10px; border: solid 1px $c-gray3; @include border-radius(3px); display: inline-block; color: $c-gray4; text-decoration: none;
        width: 75px; @include transition(width, 1s, ease); white-space: nowrap; overflow: hidden;
        @include breakpoint($mxw992) { padding: 2px 5px; width: 50px; }
        &:hover { width: 150px; text-decoration: none;
            @include breakpoint($mxw992) { width: 110px; }
        }
        .txt-share { color: $c-gray4; margin-right: 15px; text-decoration: none;
            @include breakpoint($mxw992) { font-size: $f-base - 4; }
        }
        a { margin-right: 5px; color: $c-blue4;
            @include breakpoint($mxw992) { font-size: $f-base - 4; }
        }
    }

    //    block what on

    .block-whaton { margin-bottom: 40px;
        @include breakpoint($mxw992) { margin-bottom: 30px; }
        @include breakpoint($mxw768) { margin-bottom: 30px; }
        h1 { text-align: center; margin-top: 70px; margin-bottom: 30px;
            @include breakpoint($mxw992) { margin-top: 35px; margin-bottom: 15px; font-size: 39px; }
            @include breakpoint($mxw768) { margin-top: 20px; margin-bottom: 15px; font-size: 25px; }
        }
        .block-header { position: relative;
            .content-whaton { background: $c-blue; padding: 20px; width: percentage(490/1140); position: absolute; right: 0; bottom: 0; color: $c-white;
                @include breakpoint($mxw992) { padding: 13px 13px 13px 20px; }
                .txt-title-header {
                    .label-stell { font-size: $f-base - 2; background: $c-red; padding: 5px 10px; text-transform: uppercase; color: $c-white; }
                    .date-time-header { color: rgba(255, 255, 255, .6); margin-left: 10px;
                        @include breakpoint($mxw992) { font-size: $f-base - 2; }
                    }
                }
                h4 { font-weight: 400;
                    a { color: $c-white; }
                }
                .short-content { font-size: $f-base + 1; margin: 20px 0; color: rgba(255, 255, 255, 0.8);
                    @include breakpoint($mxw992) { font-size: $f-base - 2; margin: 15px 0; }
                }
            }
        }

        @include breakpoint($mxw768) {
            .img-whaton-mobile {
                position: relative;
            }
        }

        .lable-content { background: $c-red; font-size: $f-base - 2; padding: 5px 10px; color: $c-white; text-transform: uppercase; position: absolute; bottom: 0; left: 0;
            @include breakpoint($mxw992) { padding: 0px 5px; }
        }

        .date-time { font-size: $f-base - 2; color: $c-gray4; text-transform: uppercase; margin-top: 20px;
            @include breakpoint($mxw992) { margin-top: 10px; font-size: 10px; }
            @include breakpoint($mxw768) { margin-top: 10px; }
        }

        .block-element { border-top: solid 1px $c-gray3; margin-top: 15px;
            @include breakpoint($mxw768) { border: none }
            .col-content { margin-top: 15px; padding-bottom: 10px;
                @include breakpoint($mxw992) { padding-bottom: 0; }
                @include breakpoint($mxw768) { margin-top: 0; padding-bottom: 15px; }
                .row-header { position: relative;

                    .arrown-top { width: 0; height: 0; border-left: 30px solid transparent; border-right: 30px solid transparent; border-bottom: 20px solid $c-white; position: absolute; bottom: 0; right: 30px;
                        @include breakpoint($mxw992) { border-left-width: 15px; border-right-width: 15px; border-bottom-width: 15px; }
                        @include breakpoint($mxw768) { border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; }
                    }
                }
                .content {
                    h5 { color: $c-blue; margin-top: 0;
                        @include breakpoint($mxw768) { margin-bottom: 0; }
                    }
                    .txt-content { color: $c-gray4; margin-bottom: 30px;
                        @include breakpoint($mxw992) { font-size: $f-base - 2; }
                        @include breakpoint($mxw768) { display: none; }
                    }
                }
            }
            .row {
                .col-md-4 {
                    + .col-md-4 { border-left: solid 1px $c-gray3; }
                }
            }
        }
    }
    .block-video { position: relative;
        .content-video { width: 100%; position: absolute; left: 0; top: 0; padding-top: 90px; color: $c-white;
            @include breakpoint($mxw768) { padding-top: 0px; text-align: center; }
            .logo-white { margin-left: 30px;
                @include breakpoint($mxw768) { margin-left: 0; }
            }
            .txt-world { font-size: 80px; font-weight: 300; margin-left: 50px; text-transform: uppercase;
                @include breakpoint($mxw992) { font-size: 52px; }
                @include breakpoint($mxw768) { margin-left: 0; font-size: 30px; }
            }
            .txt-description { margin-left: 50px; font-size: $f-base + 1; margin-bottom: 30px;
                @include breakpoint($mxw992) { font-size: $f-base - 2; }
                @include breakpoint($mxw768) { font-size: $f-base - 4; margin-left: 0; margin-bottom: 10px; }
            }
            .btn-white { margin-left: 50px;
                @include breakpoint($mxw768) { margin-left: 0; }
            }
        }
        .bg-video { width: 100%;
        }
    }
    //    Partner

    .sliderPartner { position: relative; padding-bottom: 30px;
        .block-partner {
            > h2 { margin: 50px 0 60px 0; text-transform: uppercase; text-align: center;
                @include breakpoint($mxw992) { margin: 40px 0; }
                @include breakpoint($mxw768) { margin: 20px 0 20px; }
                span { font-weight: 700;
                    @include breakpoint($mxw992) { font-weight: 300; }
                }
            }
            .text-description { font-family: $font-second; font-size: 22px; font-style: italic; margin-bottom: 20px; line-height: 32px; color: $c-gray5;
                @include breakpoint($mxw992) { font-size: 14px; line-height: 20px; }
                @include breakpoint($mxw768) { font-size: 14px; line-height: 16px; text-align: center; margin-top: 25px; }
            }
            .name-partner { color: $c-blue3; font-size: 22px; font-weight: 700;
                @include breakpoint($mxw992) { font-size: $f-base; }
                @include breakpoint($mxw768) { font-size: $f-base + 1; text-align: center }
            }
            .title-job { font-size: $f-base + 2; color: $c-gray5; margin-bottom: 20px;
                @include breakpoint($mxw992) { font-size: $f-base - 4; }
                @include breakpoint($mxw768) { font-size: $f-base - 2; text-align: center }
            }
            .img-partner { width: 100%; margin: 0 auto; display: inline-block; text-align: center;
                img { width: auto; text-align: center; display: inline-block; @include transition(all, 0.3s, ease);
                    @include breakpoint($mxw992) {
                        &.visible-sm { display: inline-block !important; }
                    }
                    &:hover { @include transform(scale3d(1.1, 1.1, 1.1)); }
                }
            }
            @include breakpoint($mxw768) {
                .btn-partner { text-align: center; }
            }
        }
        @include breakpoint($mxw768) {
            padding-bottom: 0;
            .owl-stage-outer { padding-bottom: 60px; }
            .owl-dots {

                .owl-dot { border: solid 1px $c-blue;
                    &.active { background: $c-blue; }
                }

            }
        }
    }

    // Footer for desktop & tablet

    .footer { margin-top: 30px;
        .footer-top { background: $c-gray6; padding: 30px 0 50px 0; font-size: $f-base - 1; line-height: 18px;
            .title { font-weight: 700; text-transform: uppercase; }
            ul { list-style: none; color: $c-gray-dark; margin-left: 0; padding-left: 0;
                li { line-height: 18px;
                    @include breakpoint($mxw992) { font-size: 10px;
                        &.title { font-size: $f-base - 3; }
                    }
                    a { color: $c-gray-dark; }
                }
            }
            .follow-us { margin-top: 20px;
                .link-social { font-size: 22px; color: $c-blue4;
                    a { margin-right: 5px; }
                }
            }
        }
        .footer-bottom { background: $c-footer; padding: 10px 15px; text-align: left; color: $c-white;
            @include breakpoint($mxw992) { font-size: $f-base - 3; }
            .txt-copyright { display: inline-block; text-align: left; }
            .txt-terms { display: inline-block; text-align: right; float: right;
                a { color: $c-white; margin-left: 10px; }
            }
        }
    }

    // Footer for mobile version

    @include breakpoint($mxw768) {
        .footer-mobile { background: $c-gray6; padding-top: 18px; margin-top: 15px;
            .link-social {
                .title-social { font-size: $f-base - 3; margin-bottom: 5px; }
                a { font-size: 22px; color: $c-blue4; margin-right: 20px; }
            }
            .link-footer { margin-top: 20px; padding-bottom: 30px;
                .text-footer { padding: 0 2% 0 0; margin: 0; width: 46%; list-style: none; float: left;
                    li { line-height: 22px;
                        a { font-size: $f-base - 3; color: $c-gray-dark; }
                    }
                }
            }
            .footer-bottom { background: $c-footer; font-size: $f-base - 3; padding: 15px 0; color: $c-white; text-align: center;
                .copyright { margin-bottom: 2px; }
                a { color: $c-white; padding: 0 10px;
                    + a { border-left: solid 1px #3b3b43; }
                }
            }
        }
    }

    .column {
        @include clearfix();
        .colum-element { width: 20%; float: left; }
    }

    //arrown nav
    .carousel-nav { width: 100%; position: absolute; top: 50%; @include translate(0, -50%); z-index: 4; cursor: pointer; font-size: $f-base + 4;
        @include breakpoint($mxw768) { display: none; }
        .action-nav { background: $c-gray7; position: absolute; color: $c-blue4; @include transition(all, 0.3s, ease);
            &:hover { background: $c-blue4; color: $c-white; }
        }
        .next { padding: 35px 10px 35px 20px; right: 0;
            @include breakpoint($mxw992) { padding: 23px 10px; }
        }
        .prev { padding: 35px 20px 35px 10px; left: 0;
            @include breakpoint($mxw992) { padding: 23px 10px; }
        }
    }

    //    slider banner

    .sliderBanner {
        .items { width: 100%; overflow: hidden; }
        .slider-banner { padding-top: 200px;
            @include breakpoint($mxw992) { padding-top: 60px; padding-left: 50px; }
            @include breakpoint($mxw768) { padding-top: 60px; padding-left: 0px; text-align: center;
                .share-social-mobile { position: absolute; right: 10px; top: 10px;
                    a { color: $c-white; font-size: 20px; }
                }
            }
            h1 { color: $c-white; text-transform: uppercase; font-weight: 700;
                @include breakpoint($mxw768) { font-size: 30px; }
            }
            .txt-description { font-size: $f-base + 2; margin-bottom: 20px;
                @include breakpoint($mxw768) { font-size: $f-base - 3; }
            }
        }
        .item-nav { position: absolute; top: 50%; @include translate(0, -50%); z-index: 3;
            @include breakpoint($mxw768) { display: none; }
            &.next-slide { right: 0; cursor: pointer; }
            &.prev-slide { left: 0; cursor: pointer; }
            img { width: auto; }
        }

        .nav-slit .prev-btn,
        .nav-slit .next-btn {
            position: relative;
            display: block;
            padding: 45px 10px;
            @include breakpoint($mxw992) { padding: 25px 8px; }
            background-color: $c-white;
        }

        .nav-slit .prev-btn i.fa,
        .nav-slit .next-btn i.fa {
            -webkit-transition: -webkit-transform 0.3s 0.3s;
            transition: transform 0.3s 0.3s;
            fill: #fff;
            color: $c-blue4;
            font-size: 18px;
        }

        .nav-slit .prev-img,
        .nav-slit .next-img {
            position: absolute;
            top: 0;
            width: 198px;
            height: 100%;
            background-color: $c-blue4;
            -webkit-transition: -webkit-transform 0.3s 0.3s;
            transition: transform 0.3s 0.3s;
            -webkit-perspective: 1000px;
            perspective: 1000px;
            @include breakpoint($mxw992) { width: 110px; }
        }

        .nav-slit .prev-slide .prev-img {
            left: 0;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }

        .nav-slit .next-slide .next-img {
            right: 0;
            text-align: right;
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }

        .nav-slit .title-btn {
            position: absolute;
            top: 100%;
            margin: 0;
            padding: 8px 10px;
            width: 100%;
            height: auto;
            background: $c-blue4;
            color: #fff;
            white-space: nowrap;
            font-size: $f-base + 2;
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
            -webki-backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .nav-slit .prev-img img,
        .nav-slit .next-img img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        .nav-slit .prev-slide i.fa,
        .nav-slit .next-slide i.fa {
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
        }

        .nav-slit .prev-btn:hover i.fa {
            -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
        }

        .nav-slit .next-btn:hover i.fa {
            -webkit-transform: translateX(200%);
            transform: translateX(200%);
        }

        .nav-slit .item-nav:hover .prev-img,
        .nav-slit .item-nav:hover .next-img {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        .nav-slit .item-nav:hover .title-btn {
            -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
            -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
        }

        @include breakpoint($mxw992) {
            .slider-banner {
                .btn-share {
                    .txt-share { color: $c-white; }
                }
            }
        }
    }

    @include breakpoint($mxw768) {
        .owl-dots { position: absolute; left: 50%; bottom: percentage(27/530); @include transform(translate(-50%, 0));
            .owl-dot { width: 12px; height: 12px; @include border-top-radius(100%); @include border-bottom-radius(100%); border: solid 1px $c-white; display: inline-block; margin-right: 10px; cursor: pointer;
                &.active { background: $c-white; }
            }
        }
    }

    /*-----------------*/
    /***** Apollo *****/
    /*-----------------*/

    figure.effect-apollo {
        background: rgba(0, 54, 106, 0.1);
    }

    figure.effect-apollo img {
        opacity: 1;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        &:hover {
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale3d(2, 2, 2);
            transform: scale3d(2, 2, 2);
        }
    }

    figure.effect-apollo figcaption::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.2);
        content: '';
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -200%, 0);
        transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -200%, 0);
    }
    figure.effect-apollo h2 {
        text-align: left;
    }

    figure.effect-apollo:hover img {
        opacity: 0.6;
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    figure.effect-apollo:hover figcaption::before {
        -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
        transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    }

    figure.effect-apollo:hover p {
        opacity: 1;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    // Video youtube background

    #video {
        position: relative;
        background: transparent;
    }

    .ytplayer-container {
        top: 0;
        z-index: -1;
    }
}